.App {
  text-align: center;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: black;
  text-align: center;
}

h5 {
  color: rgb(7, 7, 7);
  text-align: center;
}

p {
  color: green;
}

.myaccordion {
  background-color: transparent;
  text-align: center;
  text-emphasis: bold;
  margin: 4 rem;
  box-shadow: rgb(136, 243, 29);
  box-shadow: 0px 12px 18px -6px rgba(76, 229, 15, 0.3);
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  
}

.listgroup {
 text-align: center;
 margin-left: 2rem;
 margin-right: 2rem;
}

.card-text {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
 }

 .card-title {
  text-align: center;
 }

 .logo {
  height: 25vmin;
 }

.card-group {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.accordion-body {
  text-align: center;
}

.accordion-item {
  text-align: center;
}

.localshopsmap {
  justify-content: flex-start;
  margin-right: 0;
  margin-left: 0;
  box-shadow: rgb(136, 243, 29);
  margin: 50px;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0px 12px 18px -6px rgba(14, 149, 133, 0.3);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  padding: 10px;
}

.mycareguide {

  box-shadow: rgb(136, 243, 29);
  margin: 50px;
  background-color: transparent;
  overflow: hidden;
  box-shadow: 0px 12px 18px -6px rgba(14, 149, 133, 0.3);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  padding: 10px;
}



.accordion-button:not(.collapsed) {
  color: #ffffff !important;
  background-color: #47a40d !important;
}

.accordion-item:first-of-type .accordion-button {
  color: white;
  background-color: #459e0e;
}

.accordion-button {
  color: white !important;
  background-color: #dfd593 !important;
}

.carousel #plantmap{
  margin-left: 2rem;
  margin-right: 2rem;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
